# Vajra App Environment Variables
EMAIL_USER=agrawaltanmay1011@gmail.com
EMAIL_PASS=!Tanmay1011
EMAIL_FROM=Vajra App <agrawaltanmay771@gmail.com>
SESSION_SECRET=vajra_secret_key_change_in_production
PORT=3000
